@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap");

:root {
  --white: rgb(247, 247, 247);
  --blue: hsl(217, 89%, 61%);
  --red: hsl(5, 69%, 54%);
  --yellow: hsl(44, 100%, 48%);
  --green: hsl(151, 83%, 34%);
  --blackDark: hsla(0, 0%, 0%, 0.66);
  --blackLight: hsla(0, 0%, 0%, 0.33);
}

.is-blue {
  --color: var(--blue);
}

.is-red {
  --color: var(--red);
}

.is-yellow {
  --color: var(--yellow);
}

.is-green {
  --color: var(--green);
}

html {
  background-color: var(--white);
}

body {
  height: 100vh;
  color: var(--blackDark);
  font-family: "Rubik", sans-serif;
}

.with-elevation {
  margin-top: 5rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 2px var(--blackLight);
}
.with-elevation .is-left {
  padding: 4.5rem 2.25rem 4.5rem 4.5rem;
}
.with-elevation .is-left h1,
.with-elevation .is-left h2,
.with-elevation .is-left p {
  text-align: right;
}
.with-elevation .is-right {
  padding: 4.5rem 4.5rem 4.5rem 2.25rem;
}
.with-elevation .is-right h1,
.with-elevation .is-right h2,
.with-elevation .is-right p {
  text-align: left;
}
.with-elevation .with-form > :not(form) {
  text-align: center;
}

.title {
  font-weight: 800;
  letter-spacing: -1px;
}

.subtitle {
  color: var(--color);
  font-weight: 400;
  margin-top: 1rem !important;
  letter-spacing: -2px;
}

p {
  color: var(--blackLight);
}

.description {
  margin: -1rem auto 1rem;
  font-style: italic;
}

.is-primary {
  background-color: var(--color) !important;
  margin: 1rem auto;
}

input,
select {
  font-size: 1rem;
}
input:focus,
select:focus {
  border-color: var(--color) !important;
  box-shadow: 0 0 0 1px var(--color) !important;
}

.help {
  text-align: left !important;
}

@media screen and (max-width: 768px) {
  html {
    background-color: #fff;
  }

  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }

  .with-elevation {
    margin-top: 0px;
    border-radius: 0px;
    box-shadow: none;
  }
  .with-elevation .is-left,
  .with-elevation .reverse-columns > .is-right {
    padding: 2.25rem 2.25rem 1.125rem 2.25rem;
  }
  .with-elevation .is-right,
  .with-elevation .reverse-columns > .is-left {
    padding: 1.125rem 2.25rem 1.125rem 2.25rem;
  }
  .with-elevation .is-left h1,
  .with-elevation .is-left h2,
  .with-elevation .is-left p,
  .with-elevation .is-right h1,
  .with-elevation .is-right h2,
  .with-elevation .is-right p {
    text-align: center;
  }
}
