<script>
  import currentIdx from './store/currentIdx';
  import Elevation from './components/Elevation.svelte';
  import LoremIpsum from './components/LoremIpsum.svelte';
  import IdentityForm from './containers/IdentityForm.svelte';
  import ProForm from './containers/ProForm.svelte';
  import FantasyForm from './containers/FantasyForm.svelte';
  import ContactForm from './containers/ContactForm.svelte';

  const getClass = idx => {
    switch (idx) {
      case 0:
        return 'is-blue';
      case 1:
        return 'is-red';
      case 2:
        return 'is-yellow';
      case 3:
        return 'is-green';
      default:
        return '';
    }
  };
</script>

<section class={`container ${getClass($currentIdx)}`}>
  <div class="columns">
    <Elevation deskSize={8} tabSize={10} isReversed={$currentIdx % 2 !== 0}>
      <div class="column is-left">
        {#if $currentIdx % 2 === 0}
          <LoremIpsum />
        {/if}
        {#if $currentIdx === 1}
          <ProForm title="Professional" description="Let's talk about your work..." />
        {/if}
        {#if $currentIdx === 3}
          <ContactForm title="Contact" description="Finally, leave your contact details..." />
        {/if}
      </div>

      <div class="column is-right">
        {#if $currentIdx % 2 !== 0}
          <LoremIpsum />
        {/if}
        {#if $currentIdx === 0}
          <IdentityForm title="Identity" description="Who are you?" />
        {/if}
        {#if $currentIdx === 2}
          <FantasyForm title="Fantasy" description="In a parallel universe, who would you be?" />
        {/if}
      </div>
    </Elevation>
  </div>
</section>
